@{
    ViewBag.Title = "Index";
}

<div class="ui-mobile-viewport ui-overlay-a">
	<!-- Start of first page: #one -->
	<div data-role="page" id="one" data-url="one" tabindex="0" class="ui-page ui-page-theme-a ui-page-active" >

		<div data-role="header" role="banner" class="ui-header ui-bar-inherit">
		</div><!-- /header -->

		<div role="main" class="ui-content">
			<h1 style="font-size:72px; margin-bottom:0px;">Wish</h1>
			<img id="bananaImage"
					src="http://files.enjin.com.s3.amazonaws.com/265719/modules/forum/attachments/bananaAnimated_1423001776.png"
					onmousedown="bananaMouseDown()"
					onmouseup="bananaMouseUp()"
					height="253"
					width="500"
					style="margin-bottom:35px;" />
			<p>
				<a href="#joingame" class="ui-btn ui-btn-inline ui-shadow ui-corner-all" id="joingame"
					onclick="joingameClick()">Play</a>
				<a href="@Url.Action("WishBrowser")" class="ui-btn ui-btn-inline ui-shadow ui-corner-all" data-role="button">Wish Browser</a>
				<a href="#ourstory" class="ui-btn ui-btn-inline ui-shadow ui-corner-all" data-rel="popup"
					data-position-to="window" data-transition="turn">Our Story</a>
				<a href="#credits" class="ui-btn ui-btn-inline ui-shadow ui-corner-all" data-rel="popup"
					data-position-to="window" data-transition="turn">Credits</a>
			</p>

			<!-- Start of credit popup: #credits -->
			<div data-role="popup" id="credits" data-overlay-theme="a">
				<a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
				<div role="main" class="ui-content">
					<h2>Credits </h2>
					<p>Kevin Duensing - Narrator for our story.</p>
                    <p>Donna Lou - Client side application code.</p>
                    <p>Jonathan Anderson - Server side application + client side socket code.</p>
				</div><!-- /content -->
			</div><!-- /page popup -->
			<!-- Start of Our Story popup: #ourstory -->
			<div data-role="popup" id="ourstory" data-overlay-theme="a">
				<a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
				<div role="main" class="ui-content">
					<h2>Our Story </h2>
                    <div>
                        <p>
                            It was noon-thirty on a beautiful Tuesday. The banana-colored sunlight spilled across the peaceful cul-de-sac of Via Del Campo Ct. <br/>
                            Without warning, a determined fist belonging to none other than Joyce "Mother Effin'" Kuo arced down toward James Whiteside's flash frozen snack cake.
                        </p>

                        <p>"Wait!" shouted James, with unbridled fear and emotion. He snatched the vacuum packed morsel from the table and clutched it to his heart. <br/> "I want to eat this," he said.</p>

                        <p>With a sigh, Joyce checked her swing at the last second. "What would happen," she pondered,  <br/>"if two people were to smash each end of a snack cake at the same time?"</p>

                        <p>
                            Tim Sun (no relation to the star Earth orbits) gave one last look of loathing at his yogurt/vegetable Jacuzzi and offered his banana as a sacrifice.
                            <br/>He handed it to Canadian mystic Victor Pak, who enchanted the doomed fruit:
                        </p>

                        <p>"By the power vested in me by the Royal Canadian Mounties, the great moose spirit, and those mean-ass Canada geese, I hereby pronounce this fruit 'wish banana'."</p>

                        <p>
                            All was silent, save for the echoes of Victor's rumbling voice off the cafeteria tables. <br/>
                            Joyce, who was clearly feeling aggressive, sat on one side of the very nervous fruit. <br/>
                            Donna Lou, data rights champion, sat on the other. By this time, a sizable crowd had gathered.
                        </p>

                        <p>"ONE!", they shouted.</p>

                        <p>"TWO!" Donna and Joyce swung their fists into the air.</p>

                        <p>"THREE!", cried the masses. The brave women smashed their balled hands into the fruit.</p>

                        <p>I wish I could tell you everyone survived. I wish I could tell you the peaceful cul-de-sac of Via del Campo Ct wasn't a vast crater. So I will.</p>

                        <p>
                            After everyone nursed their banana-related injuries, Donna Lou and Jon Anderson decided to make a game based on their experience that day.  <br/> This is that game.
                            Please play with reckless abandon, in honor of those six brave souls who got super sticky on that fateful day. <br/> <br/>
                            <b>Narrated by Kevin Duensing </b>
                        </p>

                    </div>
				</div><!-- /content -->
			</div><!-- /page popup -->
		</div><!-- /content -->

		<div data-role="footer" data-theme="a" role="contentinfo" class="ui-footer ui-bar-a">
		</div><!-- /footer -->
	</div><!-- /page one -->
</div>

<script type="text/javascript">

	function joingameClick()
	{
		alert("TODO call ajax to add user to queue.")
	}

	function bananaMouseDown() {
		$("#bananaImage").attr("src", "http://i.imgur.com/fjbup.gif");
	}

	function bananaMouseUp() {
		$("#bananaImage").attr("src", "http://files.enjin.com.s3.amazonaws.com/265719/modules/forum/attachments/bananaAnimated_1423001776.png");
		$("#bananaImage").attr("height", "253");
		$("#bananaImage").attr("width", "500");
	}

</script>
