@{
    ViewBag.Title = "IWish";
}

<div class="ui-mobile-viewport ui-overlay-a">
    <div role="main" class="ui-content">

        <h1 >I Wish... test</h1>
        <textarea cols="35" rows="8" id="textarea" placeholder="Taylor Swift would come visit me." ></textarea>
        <br />
        <a href="#" class="ui-btn ui-btn-inline ui-shadow ui-corner-all">Enter</a>
    </div>
</div>


