@{
    ViewBag.Title = "IWish";
}

<div class="ui-mobile-viewport ui-overlay-a">
    <div role="main" class="ui-content">

        <h1 style="width:40%; color:gray;">I Wish...</h1>
        <textarea id="iwish" cols="35" rows="8" 
                  placeholder="Taylor Swift would come visit me." ></textarea>
        <br />
        <a href="#" class="ui-btn ui-btn-inline ui-shadow ui-corner-all" style="color:grey;">Enter</a>
    </div>
</div>


