@{
    ViewBag.Title = "IWish";
}

<div class="ui-mobile-viewport ui-overlay-a">
    <div role="main" class="ui-content">
        <div class="col-md-12">
            <h2 class="pageHeading pull-left">I Wish...</h2>
            <textarea id="iwishTextArea" rows="8" data-role="none"
                      placeholder="Taylor Swift would come visit me."></textarea>
        </div>
        <div class="col-md-12">
            <a href="#" class="ui-btn ui-btn-inline ui-shadow ui-corner-all ">Enter</a>
        </div>
    </div>
</div>


