@{
    ViewBag.Title = "IWish";
}

<div class="ui text container">
    <h1 class="ui grey header">I Wish...</h1>

    <div class="ui form">
        <textarea id="iwishTextArea" rows="8" placeholder="Taylor Swift would come visit me."></textarea>
        <div class="divider section hidden ui"></div>
        <a href="#" class="ui button yellow ">Enter</a>
    </div>

</div>


