@{
    ViewBag.Title = "WishBrowser";
}

<div class="ui-mobile-viewport ui-overlay-a">
    <div role="main" class="ui-content">

        <h1 style="width:40%; color:gray;">Wish Browser</h1>
        <br />

    </div>
</div>

