body {
    height: auto !important;
}

div .ui-content {
    width: 60%;
    text-align:center; 
    margin:auto;
}

h1{

    font-family: Original Surfer;
}

textarea {
    height: auto !important;
    width: auto !important;
    display: inline !important;
}

#iwish{
    border-style:dashed;
    border-width:thick;
}

.ui-btn{
    font-family: Original Surfer !important;
}