body {
    height: auto !important;
}

div .ui-content {
    width: 60%;
    text-align:center; 
    margin:auto;
}

h1, .ui-btn{
    color: grey !important;
    font-family: Original Surfer !important;
}


#iwish{
    border-style:dashed;
    border-width:thick;
    display: inline !important;
    width:50%;
    overflow-y:scroll;
    border-radius:5px;
}

